:root {
  --background-color: #fff1f2;
  --primary-color: #881337;
  --complementary-color: #e11d48;
  --secondary-color: #fb7185;
  --tertiary-color: #ffe4e6;
}

.placeOrder-primary-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.placeOrder-container {
  background-color: var(--tertiary-color);
  box-shadow: 1px 1px 5px 3px gray;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  width: 22rem;
  max-width: 400px;
}

.placeholder-rightContainer {
  display: flex;
  flex-direction: column;
  /* height: 30rem; */
  
}
.deliveryAdd {
  line-height: 10px;
}
.placeOrderBtn {
  position: sticky;
  bottom: 5px;
}

/* Styles for the address form */
.address-container {
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
}

.address-label {
  margin: 0.5rem auto;
}
.address-input {
  display: block;
  width: 300px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.address-input:focus{
  outline: none;
}

@media(max-width:600px){
  .placeOrder-primary-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  .address-input {
    display: block;
    width: 200px;
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
}