.storeImage {
  width: 12rem;
  height: 16rem;
}
.products {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}
.storeProducts {
  background-color: white;
  box-shadow: 2px 3px 5px 3px gray;
  height: 26rem;
  text-align: center;
  margin: 0.8rem;
  line-height: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.printedPrice {
  color: gray;
  text-decoration: line-through;
}
.storeProducts button {
  width: 100%;
  height: 10%;
  border: 1px solid lightgray;
  cursor: pointer;
}
.cartButton {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.wishlistIcon {
  padding: 1rem;
}
