:root {
  --background-color: #fff1f2;
  --primary-color: #881337;
  --complementary-color: #e11d48;
  --secondary-color: #fb7185;
  --tertiary-color: #ffe4e6;
}

.primary-product-container{
    max-width: 900px;
    margin: auto ;
    padding: 1rem;
}


.products {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.product-container {
  background-color: transparent ;
  display: flex;
  flex-direction: column;
}
.product-container:hover {
  box-shadow: 3px 3px 5px 2px var(--secondary-color);
}

.product-shadow{
  box-shadow: 2px 2px 5px 2px gray;
  z-index: 1;
}
.product-pic{
  position: relative;
  height: 16rem;
}
.wishlistIcon {
  margin: 0.5rem;
  border-radius: 100px;
  background-color: var(--background-color);
  color: var(--complementary-color);
  position: absolute;
  padding: 0.2rem 0.4rem;
  right: 0;
  cursor: pointer;
}
.productImage {
  width: 12rem;
  height: 16rem;
}
.productImage:hover {
  height: 16.1rem;
}

.product-info{
  margin: 0;
  background-color: var(--background-color);
  padding: 0.5rem;
}
.product-info b{
  color: var(--complementary-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.printedPrice{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.printedPrice small {
  color: gray;
  text-decoration: line-through;
}
.product-rating{
  margin: 0 0.1rem;
  color: gray;
}
.cartButton {
  border: none;
  padding: 0.5rem;
  margin: 0 0.1rem;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  box-shadow: 2px 4px 5px 1px gray;
  z-index: 2;
  cursor: pointer;
}
.cartButton:hover{
  background-color: var(--complementary-color);
  font-weight: bold;
}

