.container {
  display: flex;
  padding: 1rem;
}

.leftContainer {
  text-align: left;
  flex: 20%;
  padding: 0 1rem;
}

.rightContainer {
  background-color: var(--tertiary-color);
  border-radius: 0.5rem;
  text-align: left;
  padding: 1rem;
  flex: 80%;
}

.product-number {
  padding: 5px 10px;
  color: gray;
  background-color: var(--background-color);
  border-radius: 5px;
}

/* scrollbar */
.rightContainer {
  height: 80vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--tertiary-color);
  border-radius: 0.5rem;
}

/* responsive */
@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .product-number {
    font-size: small;
  }

  .leftContainer {
    position: fixed;
    bottom: 10px;
    width: 90%;
    z-index: 50;
    padding: 10px;
  }

  /* .filters-button-wrapper{
    display: block;
    position: fixed;
    bottom: 10px;
    right: 40%;
    z-index: 100;
  }
  .filters-button-wrapper-hide{
    display: none;
  } */
}
