:root {
  --background-color: #fff1f2;
  --primary-color: #881337;
  --complementary-color: #e11d48;
  --secondary-color: #fb7185;
  --tertiary-color: #ffe4e6;
}

.container {
  display: flex;
  padding: 1rem;
}

.leftContainer {
  text-align: left;
  flex: 20%;
  padding: 0 1rem;
}

.rightContainer {
  background-color: var(--tertiary-color);
  border-radius: 0.5rem;
  text-align: left;
  padding: 1rem;
  flex: 80%;
}
.product-number{
  padding: 5px 10px;
  color: gray;
  background-color: var(--background-color);
  border-radius: 5px;
}

/* scrollbar */
.rightContainer{
  height: 80vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--tertiary-color);
  border-radius: 0.5rem;
}