:root {
    --background-color: #fff1f2;
    --primary-color: #881337;
    --complementary-color: #e11d48;
    --secondary-color: #fb7185;
    --tertiary-color: #ffe4e6;
  }

.wishlistContainer{
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
}
.wishlistProducts{
    margin: 1rem auto;
    background-color: white;
    box-shadow: 2px 3px 5px 3px gray;
    height: 28rem;
    text-align: center;
    line-height: 5px;
}
.wishlistButton{
    margin: 2rem;
    padding: 1rem 3rem;
    color: var(--background-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.wishlistButton:hover{
    margin: 1.9rem;
    padding: 1.1rem 3.1rem;
    color: var(--background-color);
    background-color: var(--complementary-color);
    font-weight: bold;
    box-shadow: 1px  1px 4px 1px gray;
}


