.wishlistContainer{
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
}
.wishlistProducts{
    margin: 1rem auto;
    background-color: white;
    box-shadow: 2px 3px 5px 3px gray;
    height: 28rem;
    text-align: center;
    line-height: 5px;
}
.wishlistButton{
    margin: 0.2rem;
    width: 90%;
    padding: 0.5rem;
}
