:root {
    --background-color: #fff1f2;
    --primary-color: #881337;
    --complementary-color: #e11d48;
    --secondary-color: #fb7185;
    --tertiary-color: #ffe4e6;
  }

.cartContainer {
    margin: 1rem auto;
    max-width: 1000px; 
    display: flex;
    justify-content: space-between;
}

/* Empty Cart */
.empty-cart{
    padding-top: 10%;
    color: var(--primary-color);
}

/* Cart with products */
.initial{
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px 2px gray;
}
.information{
    padding: 1rem;
    text-align: left;
}

.rightCartContainer{
   text-align: left;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 3px 2px gray;
    border-radius: 0.5rem;
    height: 19rem;
    width: 23rem;
}
.final{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullButton{
    margin: 5px;
    width: 10rem;
    padding: 0.5rem;
    
}
.finalButton{
    width: 100%;
    padding: 0.8rem;
    background-color: cornflowerblue;
}
.quantityBtn{
    padding: 0.5rem 1rem;
    margin: 5px;
    border-radius: 20px;
    border: none;
}