.header{
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headerLink{
    font-size: x-large;
    margin: 0 1rem;
    color: gray;
    text-decoration: none;
}
.headerButton{
    color: white;
    background-color: gray;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.search {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 10px;
}