/* Additional info */
.add-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-name {
  color: var(--complementary-color);
}
.card-name::first-letter {
  text-transform: capitalize;
}
.status {
  font-weight: bolder;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  color: var(--background-color);
}

.productDetail-container {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.productDetail-image {
  border-radius: 0.5rem;
  width: 18rem;
  height: 26rem;
  box-shadow: 1px 1px 5px 1px gray;
}

/* Information */
.productDetail-info {
  text-align: left;
}
.productDetail-info h1 {
  color: var(--primary-color);
  border-bottom: 1px solid;
}
.productDetail-info .description {
  width: 300px;
}
.productDetails-price-container {
  display: flex;
  justify-content: space-between;
}
.productDetail-price small {
  color: gray;
  text-decoration: line-through;
}
.discount {
  color: darkcyan;
  font-style: italic;
  font-size: larger;
}

/* buttons */
.DetailBtn-container {
  display: flex;
  gap: 1rem;
}

.DetailBtn {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  width: 8rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--background-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.DetailBtn:hover {
  background-color: var(--complementary-color);
  box-shadow: 1px 1px 4px 1px gray;
}

@media (max-width: 600px) {
  .productDetail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .productDetail-info {
    width: 80%;
    margin: auto;
  }
}
